version: '3.9'

services:
  backend:
    container_name: kupipodariday-backend
    build:
      context: ./backend
    env_file:
      - .env.backend
    depends_on:
      - database
    ports:
      - "4000:3001" # хост:контейнер (Nest внутри слушает 3001)
    restart: unless-stopped

  frontend:
    container_name: kupipodariday-frontend
    build:
      context: ./frontend
    ports:
      - "8081:80" # хост:контейнер (nginx внутри слушает 80)
    restart: unless-stopped

  database:
    container_name: kupipodariday-db
    image: postgres:13-alpine
    env_file:
      - .env.db
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped
    
volumes:
  pgdata:
